@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: reross-quadratic;
  src: url("/RerossQuadratic.otf");
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: reross-quadratic, sans-serif;
  color: #292F36;
  font-weight: 400;
  font-style: normal;
}

p, div, a {
  color: #292F36;
  font-family: futura-pt,sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: #F8F8F8;
  font-family: futura-pt,sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.anim-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#ec3737), color-stop(50%, #ec3737), color-stop(50%, #292F36));
    background-image: linear-gradient(to right, #ec3737, #ec3737 50%, #292F36 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.anim-text:hover {
    -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
    transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}

.menu-line {
  position: absolute;
  transition: transform 2s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  pointer-events: none;
}

#scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: '#F8F8F8';
  width: 100%;
  z-index: 50;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.proj-img {
  max-height: 220px;
}

.page-margin{
  max-width: 1440px;
}

.profile-pic-simple {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  width: 66.666667%;
  border-radius: 9999px;
  /* filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08)); */
}

@media (max-width: 767px) {
  .profile-callout {
    display: none
  }
}

h1 {
  @apply text-7xl
}

h2 {
  @apply text-6xl
}

h3 {
  @apply text-5xl
}

h4 { 
  @apply text-4xl
}

h5 {
  @apply text-3xl
}

h6 {
  @apply text-2xl
}

.expand-btn {
  height: 40px;
  width: 40px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.expand-btn:hover {
  width: 185px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.mockup-code, .mockup-code-section {
  min-width: 18rem;
  /* z-index: 9999; */
  /* @apply bg-neutral;  */
  @apply py-5; 
  /* @apply text-neutral-content; */
  @apply rounded-lg;
}

.mockup-code-section:before {
  @apply mb-4;
  @apply block;
  @apply h-3;
  @apply w-3;
  @apply rounded-full;
  @apply opacity-30;
  content: "";
  box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}

.mockup-code, .mockup-code-section pre {
  @apply pl-5;
}

.mockup-code, .mockup-code-section pre:before {
  content: "";
  margin-right: 2ch;
}
.mockup-code, .mockup-code-section pre[data-prefix]:before {
  content: attr(data-prefix);
  @apply w-8;
  @apply opacity-50;
}